---
permalink: /expo-almuñecar
layout: default
---
<h1>Exposición de pintura al óleo (1984)</h1>

<p>Exposición celebrada en Almuñecar del 21 al 29 de Octubre de 1984, en la Sala de Exposiciones de la Caja General de Granada.</p>

<ul class="art">

<li>
<a href="/images/expoalmuñecar/umbria_m.jpg">{% include art.html src="/images/expoalmuñecar/umbria_m.jpg" alt="Umbria" %}</a>

<p><strong>UMBRIA (Capileira)</strong></p>

Oleo sobre tablex de 60 x 40cm
</li>

<li>
<a href="/images/expoalmuñecar/pasadizo_m.jpg">{% include art.html src="/images/expoalmuñecar/pasadizo_m.jpg" %}</a>

<p><strong>PASADIZO (Capileira)</strong></p>

Oleo sobre tablex de 60 x 40cm
</li>


<li>
<a href="/images/expoalmuñecar/balcon_m.jpg">{% include art.html src="/images/expoalmuñecar/balcon_m.jpg" %}</a>

<p><strong>BALCON (Capileira)</strong></p>

Oleo sobre tablex de 60 x 40cm
</li>

<li>
<a href="/images/expoalmuñecar/tapias_rejas_m.jpg">{% include art.html src="/images/expoalmuñecar/tapias_rejas_m.jpg" %}</a>

<p><strong>TAPIAS Y REJAS (Capileira)</strong></p>

Oleo sobre tablex de 60 x 40cm
</li>

<li>
<a href="/images/expoalmuñecar/callejuela_m.jpg">{% include art.html src="/images/expoalmuñecar/callejuela_m.jpg" %}</a>

<p><strong>CALLEJUELA (Capileira)</strong></p>

Oleo sobre lienzo pegado a cartón de 41 x 33cm
</li>

<li>
<a href="/images/expoalmuñecar/al_sol_m.jpg">{% include art.html src="/images/expoalmuñecar/al_sol_m.jpg" %}</a>

<p><strong>AL SOL (Capileira)</strong></p>

Oleo sobre lienzo pegado a cartón de 41 x 33cm
</li>

<li>
<a href="/images/expoalmuñecar/casas_m.jpg">{% include art.html src="/images/expoalmuñecar/casas_m.jpg" %}</a>

<p><strong>CASAS (Capileira)</strong></p>

Oleo sobre lienzo en bastidor de 35 x 27cm
</li>

<li>
<a href="/images/expoalmuñecar/emparrado_m.jpg">{% include art.html src="/images/expoalmuñecar/emparrado_m.jpg" %}</a>

<p><strong>EMPARRADO (Capileira)</strong></p>

Oleo sobre tablex de 40 x 30cm
</li>

<li>
<a href="/images/expoalmuñecar/desde_muralla_m.jpg">{% include art.html src="/images/expoalmuñecar/desde_muralla_m.jpg" %}</a>

<p><strong>DESDE LA MURALLA (Lugo)</strong></p>

Oleo sobre lienzo en bastidor de 41 x 33cm
</li>


<li>
<a href="/images/expoalmuñecar/cruceiro_m.jpg">{% include art.html src="/images/expoalmuñecar/cruceiro_m.jpg" %}</a>

<p><strong>CRUCEIRO (Pontevedra)</strong></p>

Oleo sobre lienzo en bastidor de 55 x 38cm
</li>


<li>
<a href="/images/expoalmuñecar/plaza_leña_m.jpg">{% include art.html src="/images/expoalmuñecar/plaza_leña_m.jpg" %}</a>

<p><strong>PLAZA DE LA LEÑA (Pontevedra)</strong></p>

Oleo sobre liezo en bastidor de 55 x 38cm
</li>

<li>
<a href="/images/expoalmuñecar/chimeneas_m.jpg">{% include art.html src="/images/expoalmuñecar/chimeneas_m.jpg" %}</a>

<p><strong>CHIMENEAS (Lugo)</strong></p>

Oleo sobre lienzo en bastidor de 35 x 27cm
</li>


<li>
<a href="/images/expoalmuñecar/tejados_m.jpg">{% include art.html src="/images/expoalmuñecar/tejados_m.jpg" %}</a>

<p><strong>TEJADOS (Lugo)</strong></p>

Oleo sobre lienzo en bastidor de 35 x 27cm
</li>


<li>
<a href="/images/expoalmuñecar/ria_bares_m.jpg">{% include art.html src="/images/expoalmuñecar/ria_bares_m.jpg" %}</a>

 <p><strong>RIA DE BARES (A Coruña)</strong></p>

Oleo sobre lienzo en bastidor de 55 x 38cm
</li>

<li>
<a href="/images/expoalmuñecar/porto_barqueiro_m.jpg">{% include art.html src="/images/expoalmuñecar/porto_barqueiro_m.jpg" %}</a>

<p><strong>PORTO DO BARQUEIRO (A Coruña)</strong></p>

Oleo sobre lienzo en bastidor de 55 x 38cm
</li>

<li>
<a href="/images/expoalmuñecar/cyclamen_m.jpg">{% include art.html src="/images/expoalmuñecar/cyclamen_m.jpg" %}</a>

<p><strong>CYCLAMEN</strong></p>

Oleo sobre lienzo en bastidor de 46 x 33cm
</li>

<li>
<a href="/images/expoalmuñecar/velador_m.jpg">{% include art.html src="/images/expoalmuñecar/velador_m.jpg" %}</a>

<p><strong>VELADOR</strong></p>

Oleo sobre lienzo en bastidor de 35 x 27cm
</li>


<li>
<a href="/images/expoalmuñecar/girasoles_m.jpg">{% include art.html src="/images/expoalmuñecar/girasoles_m.jpg" %}</a>

<p><strong>GIRASOLES</strong></p>

Oleo sobre tablex de 60 x 40cm
</li>

<li>
<a href="/images/expoalmuñecar/violetas_m.jpg">{% include art.html src="/images/expoalmuñecar/violetas_m.jpg" %}</a>

<p><strong>VIOLETAS</strong></p>

Oleo sobre tablex de 15 x 12cm
</li>

<li>
<a href="/images/expoalmuñecar/pascuero1_m.jpg">{% include art.html src="/images/expoalmuñecar/pascuero1_m.jpg" %}</a>

<p><strong>FLORES DE NAVIDAD</strong></p>

Oleo sobre tablex de 19 x 18cm
</li>

<li>
<a href="/images/expoalmuñecar/pascuero2_m.jpg">{% include art.html src="/images/expoalmuñecar/pascuero2_m.jpg" %}</a>

<p><strong>FLORES DE NAVIDAD</strong></p>

Oleo sobre tablex de 19 x 18cm
</li>

<li>
<a href="/images/expoalmuñecar/gardenia_m.jpg">{% include art.html src="/images/expoalmuñecar/gardenia_m.jpg" %}</a>

<p><strong>GARDENIA</strong></p>

Oleo sobre liezo en bastidor de 24 x 19cm
</li>

<li>
<a href="/images/expoalmuñecar/pelargonio_m.jpg">{% include art.html src="/images/expoalmuñecar/pelargonio_m.jpg" %}</a>

<p><strong>PELARGONIO</strong></p>

Oleo sobre lienzo en bastidor de 24 x 19cm
</li>

<li>
<a href="/images/expoalmuñecar/maceta_m.jpg">{% include art.html src="/images/expoalmuñecar/maceta_m.jpg" %}</a>

<p><strong>MACETA</strong></p>

Oleo sobre lienzo en bastidor de 35 x 27cm
</li>

<li>
<a href="/images/expoalmuñecar/flores_m.jpg">{% include art.html src="/images/expoalmuñecar/flores_m.jpg" %}</a>

<p><strong>FLORES</strong></p>

Oleo sobre tablex de 16 x 13cm
</li>

<li>
<a href="/images/expoalmuñecar/chica_ramillete_m.jpg">{% include art.html src="/images/expoalmuñecar/chica_ramillete_m.jpg" %}</a>

<p><strong>LA CHICA DEL RAMILLETE</strong></p>

Oleo sobre lienzo en bastidor de 65 x 54cm
</li>

<li>
<a href="/images/expoalmuñecar/blanco_negro_m.jpg">{% include art.html src="/images/expoalmuñecar/blanco_negro_m.jpg" %}</a>

<p><strong>DESNUDO EN BLANCO Y NEGRO</strong></p>

Oleo sobre tablex de 40 x 30cm
</li>

<li>
<a href="/images/expoalmuñecar/esparto_m.jpg">{% include art.html src="/images/expoalmuñecar/esparto_m.jpg" %}</a>

<p><strong>TRABAJANDO EL ESPARTO</strong></p>

Oleo sobre lienzo en bastidor de 46 x 38cm
</li>

<li>
<a href="/images/expoalmuñecar/caracoles_m.jpg">{% include art.html src="/images/expoalmuñecar/caracoles_m.jpg" %}</a>

<p><strong>CARACOLES</strong></p>

Oleo sobre tablex de 60 x 40cm
</li>

<li>
<a href="/images/expoalmuñecar/pueblo_m.jpg">{% include art.html src="/images/expoalmuñecar/pueblo_m.jpg" %}</a>

<p><strong>PUEBLO</strong></p>

Oleo sobre lienzo en bastidor de 46 x 38cm
</li>

</ul>
