{% assign obras = site.data.obras | where: "tid", page.tid | sort: "y" | reverse %}
{% assign obras_max = obras | size %}
{% if page.max %}{% assign obras_max = page.max %}{% endif %}
{% assign first_obra = page.ini | at_least: 1 %}
{% assign last_obra = obras_max | plus: first_obra | minus: 1 %}
{% assign i = 1 %}
{% for obra in obras %}
  {% if i >= first_obra and i <= last_obra %}
  <li>
    <a href="/{{ obra.ruta }}"><img src="{{ obra.imagen }}" alt="{{ obra.titulo }}" /></a>
    <p>{{ obra.resumen }}</p>
  </li>
  {% endif %}
  {% assign i = i | plus: 1  %}
{% endfor %}
